<footer>
  <div class="absolute bottom-0 px-4 py-4 flex w-full bg-indigo-900 h-24">
    <a class="text-3xl font-bold leading-none" href="/templates/base.html.twig">
      <svg class="h-16 w-24 bg-white rounded border-yellow-600 hover:fill-black" alt="logo" viewBox="0 0 100 100">
        <path src="../../assets/img/logo.svg" ></path>
      </svg>
    </a>
    {# <div class="row">          
      <h3>Horaires d'ouvertures</h3>
      {% for openinghour in openinghours %}
        <div class="contenu offset-1 col-4 offset-lg-1 col-lg-4">
          <p class="">{{ openinghour.day }}</p>
          <p class="">{{ openinghour.openLunch }}</p>
          <p class="">{{ openinghour.closeLunch }}</p>
          <p class="">{{ openinghour.openDinner }}</p>
          <p class="">{{ openinghour.closeDinner }}</p>
        </div>
      {% endfor %}
    </div>
  </div> #}
</footer>