{% extends 'public/base.html.twig' %}

{% block pageTitle %}Connexion{% endblock %}

{% block body %}
    <main class="flex-grow bg-cover bg-center bg-no-repeat connexion-bg">
        <section class="mx-auto flex h-full flex-col items-center justify-center p-8 max-w-8xl">
            <div class="w-full rounded-xl bg-white/60 p-4 shadow backdrop-blur-md md:w-1/2 xl:w-1/3">
                <h1 class="text-center text-5xl font-playball">Connexion</h1>
                {% if error %}
                    <p class="text-red-500 mt-4 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}

                <form class="flex flex-col gap-4" action="{{ path('app_login') }}" method="post">

                    <div class="flex flex-col w-3/4 mx-auto">
                        <label for="username" class="mr-5 mt-2">Email:</label>
                        <input class="bg-white/60 mt-2" type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>

                    <div class="flex flex-col w-3/4 mx-auto">
                        <label for="password" class="mt-2">Mot de passe:</label>
                        <input class="bg-white/60" type="password" id="password" name="_password">
                    </div>

                    <div class="w-3/4 mx-auto">
                        <label class="flex justify-center items-center">
                            <input class="bg-white/60 mr-2" type="checkbox" name="_remember_me" checked/>
                            <span>Rester connecté(e)</span>
                        </label>
                    </div>

                    <div class="flex justify-center">
                        <button type="submit" class="rounded mt-8 mb-5 w-40 bg-white/60 p-2 text-lg font-semibold text-black hover:bg-white cursor-pointer">
                            Connexion
                        </button>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="flex justify-center">
                        <span>Pas encore inscrit?</span>
                        <a href="{{ path('app_register') }}" class="ml-3 font-semibold hover:text-gray-700">Inscription</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
