<div class="max-w-4xl mx-auto">
    {{ form_start(form) }}
    {#    {{ form_widget(form) }} #}
    {{ form_row(form.guests) }}
    <div id="seats" class="text-red-500"></div>
    {#    <button class="rounded bg-slate-200 px-4 py-2 hover:bg-slate-300">{{ button_label|default('Save') }}</button> #}

    <div id="submit"></div>
    {{ form_end(form) }}
</div>
