{% extends 'admin/base.html.twig' %}

{% set title = "Dashboard" %}

{% block pageTitle %}Admin - {{ title }}{% endblock %}

{% block body %}
    <main class="mx-auto w-full max-w-7xl flex-grow px-4 pt-20">
        {% include 'admin/_partials/breadcrumb.html.twig' with {
            'label' : 'Accueil'
        } %}

        <h1 class="my-8 text-3xl">Dashboard d'administration</h1>
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
            <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg group"
                 style="background-image: url('{{ asset('assets/img/admin/gallery.webp') }}')"
            >
                <div class="absolute inset-0 bg-blue-100/80 transition group-hover:bg-blue-200/50"></div>
                <a href="{{ path('app_admin_gallery_index') }}" class="group-hover:bg-red-600">
                    <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                        <p class="text-xl font-semibold">Gestion de la galerie</p>
                    </div>
                </a>
            </div>
            <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg group"
                 style="background-image: url('{{ asset('assets/img/admin/menu-dish.webp') }}')"
            >
                <div class="absolute inset-0 bg-blue-100/80 transition group-hover:bg-blue-200/50"></div>
                <a href="{{ path('app_admin_meal_index') }}">
                    <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                        <p class="text-xl font-semibold">Gestion des plats</p>
                    </div>
                </a>
            </div>
            <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg group"
                 style="background-image: url('{{ asset('assets/img/admin/menu-meals.webp') }}')"
            >
                <div class="absolute inset-0 bg-blue-100/80 transition group-hover:bg-blue-200/50"></div>
                <a href="{{ path('app_admin_menu_index') }}">
                    <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                        <p class="text-xl font-semibold">Gestion des menus</p>
                    </div>
                </a>
            </div>
            <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg group"
                 style="background-image: url('{{ asset('assets/img/admin/menu-meals.webp') }}')"
            >
                <div class="absolute inset-0 bg-blue-100/80 transition group-hover:bg-blue-200/50"></div>
                <a href="{{ path('app_admin_formula_index') }}">
                    <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                        <p class="text-xl font-semibold">Gestion des formules</p>
                    </div>
                </a>
            </div>
            <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg group"
                 style="background-image: url('{{ asset('assets/img/admin/clock.webp') }}')"
            >
                <div class="absolute inset-0 bg-blue-100/80 transition group-hover:bg-blue-200/50"></div>
                <a href="{{ path('app_admin_opening_index') }}">
                    <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                        <p class="text-xl font-semibold">Gestion des jours d'ouverture</p>
                    </div>
                </a>
            </div>
            <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg group"
                 style="background-image: url('{{ asset('assets/img/admin/calendar.webp') }}')"
            >
                <div class="absolute inset-0 bg-blue-100/80 transition group-hover:bg-blue-200/50"></div>
                <a href="{{ path('app_admin_index') }}">
                    <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                        <p class="text-xl font-semibold">Gestion des réservations</p>
                    </div>
                </a>
            </div>
        </div>
        <section class="mt-8 border-t">
            <h2 class="my-8 text-3xl">Gestion du restaurant</h2>
            <p>Nombre de place actuel dans le restaurant: <span class="text-lg font-semibold" id="getTotalSeat">{{ totalSeats.seats }}</span></p>
            <label for="setTotalSeatsInput">Mettre à jour</label>
            <input class="w-20" id="setTotalSeatsInput" type="number" min="1" max="200" value="{{ totalSeats.seats }}">
            <button id="setTotalSeatsButton" class="rounded bg-slate-200 px-4 py-2 hover:bg-slate-300">Valider</button>
        </section>
    </main>
{% endblock %}