{% extends 'admin/base.html.twig' %}

{% block pageTitle %}Dashboard{% endblock %}

{% block body %}
<main class="mx-auto max-w-7xl pt-20">
    <h1 class="my-8 text-3xl">Dashboard d'administration</h1>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg"
             style="background-image: url('{{ asset('assets/img/admin/gallery.webp') }}')"
        >
            <div class="absolute inset-0 bg-blue-100/80"></div>
            <a href="{{ path('app_admin_index') }}">
                <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                    <p class="text-xl font-semibold">Gestion de la galerie</p>
                </div>
            </a>
        </div>
        <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg"
             style="background-image: url('{{ asset('assets/img/admin/menu-dish.webp') }}')"
        >
            <div class="absolute inset-0 bg-blue-100/80"></div>
            <a href="{{ path('app_admin_index') }}">
                <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                    <p class="text-xl font-semibold">Gestion des plats</p>
                </div>
            </a>
        </div>
        <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg"
             style="background-image: url('{{ asset('assets/img/admin/menu-meals.webp') }}')"
        >
            <div class="absolute inset-0 bg-blue-100/80"></div>
            <a href="{{ path('app_admin_index') }}">
                <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                    <p class="text-xl font-semibold">Gestion des menus</p>
                </div>
            </a>
        </div>
        <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg"
             style="background-image: url('{{ asset('assets/img/admin/calendar.webp') }}')"
        >
            <div class="absolute inset-0 bg-blue-100/80"></div>
            <a href="{{ path('app_admin_index') }}">
                <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                    <p class="text-xl font-semibold">Gestion des réservations</p>
                </div>
            </a>
        </div>
        <div class="relative h-52 rounded bg-cover bg-center p-4 shadow transition hover:shadow-lg bg"
             style="background-image: url('{{ asset('assets/img/admin/clock.webp') }}')"
        >
            <div class="absolute inset-0 bg-blue-100/80"></div>
            <a href="{{ path('app_admin_index') }}">
                <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
                    <p class="text-xl font-semibold">Gestion des horaires</p>
                </div>
            </a>
        </div>

    </div>





</main>
{% endblock %}