<div class="mx-auto w-full md:w-1/2">
{{ form_start(form) }}
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'rounded border-slate-300'}}) }}

            <div>
                {{ form_errors(form.title) }}
                {{ form_help(form.title) }}
            </div>
        </div>

        {{ form_widget(form.formulas, {'attr': {'class': 'rounded border-slate-300'}}) }}

        <div class="flex justify-end">
            <button class="rounded bg-slate-200 px-4 py-2 hover:bg-slate-300">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}
</div>